@tailwind base;
@tailwind components;
@tailwind utilities;

.container-knob-1 {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 20%;
  left: 10%;
}

.box {
  width: 200px;
  height: 200px;
  background-color: transparent;
  position: absolute;
  left: 25%;
  top: 25%;
  transform-origin: center center;
  z-index: 1;
  border-radius: 50%;
}

.circle {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(70px);
}

#box-1 .circle {
  box-shadow: 0 0 10px lightsalmon, inset 0 0 10px 5px lightsalmon;
  filter: drop-shadow(0 0 11px lightblue);
}

.dot {
  width: 10px;
  height: 10px;
  box-shadow: inset 0 0 7px 1px yellow;
  position: absolute;
  top: 80px;
  left: 20px;
  border-radius: 50%;
}

#progress-bar-1 {
  background-color: rgba(255, 255, 255, 0.4);
  height: 180px;
  width: 40px;
  position: absolute;
  bottom: 100px;
  left: 40px;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

#white-circle {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  left: 25px;
  top: 25px;
  border: 25px solid #c2c0bc;
  border-top-color: transparent;
  border-right-color: transparent;
  z-index: 1;
  transform: rotate(135deg);
}

#yellow-circle {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  left: 25px;
  top: 25px;
  border: 25px solid lightgreen;
}

h1 {
  font-weight: 500;
  font-size: 40px;
  color: transparent;
}

#title {
  background-image: linear-gradient(90deg, white, white);
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: capitalize;
  text-align: center;
  line-height: 250px;
}
